/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
  }
  .info {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
  }
  .info__img {
    width: 100%;
  }
  .info-link {
    font-family: fantasy, cursive;
  }
  
  @media (max-width: 768px) {
  
    .info {
      text-align: center;
    }
  
  }
  .main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
  }
  .text {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
  }
  .add-form {
    display: flex;
  }
  .header-ul {
    margin: 0;
    padding: 0px;
  }
  .header-ul__link,
  .header {
    list-style: none;
  }
  .button,
  .input {
    outline: none;
  }
  .button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  .button:hover {
    color: #3a3a3a;
  }
  /* Heading */
  .header,
  .header__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  .task__input,
  .header__text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  .header__text:focus {
    color: #333;
  }
  
  /* New Task */
  .add-label {
    display: block;
    margin: 0 0 20px;
  }
  .task__input {
    width: 318px;
  }
  
  /* Task list */
  .header-ul__link {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__checkbox,
  .header__label,
  .header__text,
  .button__edit,
  .header-delete__img {
    vertical-align: middle;
  }
  
  .header__checkbox {
    margin: 0 10px;
  }
  .header__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
  }
  .header__text {
    width: 226px;
  }
  .theader-delete__img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
  }
  .header-delete__img:hover {
    transform: rotateZ(0);
  }
  
  /* Completed */
  .header-completed .header__label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  .header__text {   
    display: none;
  }
  
  .li2 .header__text {
    display: inline-block;
    width: 224px;
  }
  
  .li2 .header__label {
    display: none;
  }